html {
	overflow-y: scroll;
}

body {
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

pre, code {
	margin: 0;
}

a {
	color: #005386;
}

#header a, #nav a, #menu a {
	text-decoration: none;
}

#nav a:hover {
	background-color: #ddd;
	<!--background-color: #fff;-->
}

#menu {
	clear: both;
	color: #069;
	overflow: hidden;
	background-color: #000;
	padding: 0.7ex;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #069;
	position: sticky;
	top: 0;
}

#menu a {
	padding: 0.5ex 1ex;
	color: #fff;
}

#menu a:hover {
	background-color: #069;
}

#header {
	background-color: #eee;
	clear: both;
	color: #555;
	font-size: 1.78em;
	padding: 0.7ex 0.7ex 0.7ex 0.7em;
}

#headerLink {
	color: #17a;
	margin-left: 5px;
}

h1 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.4em;
}

h2 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.3em;
}

h3 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.0em;
}

h4 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 0.9em;
}

#headerSubtitle {
	font-size: 0.75em;
	font-style: italic;
	margin-left: 1em;
}

#content {
	clear: both;
	margin: 0;
	padding: 0;
	/*background-color: #fff;
	overflow: hidden;*/
}

#nav {
	/*background-color: #fff;*/
	float: left;
	margin: 0 1px 0 0;
	padding: 1em 0;
	border-right: 1px solid #000;
	width: 200px;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li ul {
	padding-left: 0.6em !important;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0.8ex 2em 0.8ex 1em;
}

#main {
	margin: 0 0 0 200px;
	max-width: 80em;
	padding: 1.5em;
}


.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

hovno1 {
	float: left;
	width: 50%;
	max-width: 400pt;
	min-width: 200pt;
	border-bottom: 1px solid #000;
	padding: 0 0;
}
hovno11 {
	float: left;
	width: 100%;
	border-bottom: 1px solid #000;
}

p {
	width: 100%;
	min-width: 400px;
	margin: 0 1px 0 0;
	padding: 0 0;
	border-left: 1px solid #000;
}
p.hovno:first-letter {
	font-size: 200%;
}

img {
	display:block;
}








<!-- RESPONSIVE IMAGE GRID -->


* {
  box-sizing: border-box;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 0px;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
